.cy-container {
    min-height: 100%;
    position: relative;
    width: 100% !important;
}
.main-form {
    padding: 10px;
    padding-bottom: 140px;
}
.main-form > section {
    padding-bottom: 20px;
}
@media (max-width: 950px) {
    .main-form {
        padding: 10px;
        padding-bottom: 195px;
    }
}