.cy-container {
    min-height: 100%;
    position: relative;
    width: 100% !important;
}
.main-form {
    padding: 10px;
    padding-bottom: 145px;
}
.main-form > section {
    padding-bottom: 20px;
}