<header class="header">
    <div class="header-container">
        <div class="p-grid">
            <div class="p-col header-brand-nav">
                <div class="header-brand">
                    <div class="header-isotipo">
                        <img src="../../../assets/compraya.png" alt="" height="40px">
                    </div>
                    <div class="header-logotipo">
                        <span class="font-logo">Compra Ya!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
