<div class="footer">
    <div class="footer-container">
        <div class="p-grid ">
            <div class="p-col-12">
                <p class="mr-end-10">¿Necesitas <strong>Ayuda</strong>?</p>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-lg-4 mail">
                <i class="tiny material-icons">email</i>
                <span class="pd-10 ft-sz-13 bold">compraya@grupo2.com</span>
            </div>
            <div class="p-col-12 p-lg-8 atention">
                <p class="ft-sz-13">Atención de Lunes a Domingos</p>
                <p class="ft-sz-13">6:00 am a 11:00 pm</p>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12">
                <p class="ft-sz-13">
                    © Copyright CompraYa 2021. Taller de Proyectos 1 - UPC.
                </p>
            </div>
        </div>
    </div>
</div>